body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #28642d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.app-container {
    width: 400px;
    background: rgb(22, 17, 71);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

.listTasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.task-item.done label {
    color: red;
    text-decoration: line-through;
}

.task-item label {
    margin-left: 8px;
    cursor: pointer;
}

.task-item button {
    background: none;
    border: none;
    color: #ff3333;
    font-size: 16px;
    cursor: pointer;
}